.row {
	margin-bottom: 30px;  
	
	
	
	margin-left: 10px;
	margin-right: 10px;
	height: 1000px;

}
#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;

}
.navbar-brand {
	font-weight: bold;
	font-size: 24px;
	font-style: italic;
	margin-left: 20px;
	padding-left: 30px;


}
#cell {
	border: 1px solid black;
	padding: 0px;
	
	background-color: gray;
}
#sectionheader{
	background-color: white;
	text-align: center;


}
.navbar-header button.navbar-toggle {
	clear: both;


}
.fullwidth{
	margin: 0;
	padding: 0;
}


/* media querie to make chicken invisible at medium and large sized */



#chicken  {

	background-color: #77ffff;
	border: 0;
	text-align: center;
	border: 1px solid black;

}

#beef {
	background-color: red;
	border-left: 1px solid black;
	border-right: 1px solid black;
	text-align: center;
}

#sushi {
	background-color: yellow;
	border: 1px solid black;
	text-align: center;
}